body {
  color: black;
}

<style>
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
</style>

h1 {
  font-family: 'Permanent Marker', cursive; color: red;
}

h2 {
  font-family: 'Permanent Marker', cursive; color: black;
}
