body {
  background-image: url("https://preview.ibb.co/nzHofn/cory_1024x1024.jpg");
}


h1 {
  font-family:  'Rock Salt', cursive; color: red;
}

h2  {
  font-family:  'Permanent Marker', cursive; color: black;
}

footer {
  color: black;
  text-align: center;
  background: red;
  padding: 2rem 0;
}


