h1 {
  font-family:  'Rock Salt', cursive; color: red;
}

h2  {
  font-family:  'Permanent Marker', cursive; color: black;
}

footer {
  color: white;
  text-align: center;
  background: #2D8BCF;
  padding: 2rem 0;
}

footer a {
  color: white;
  font-size: 2rem;
  padding: .75rem;
}

footer a:hover {
  color: #FFB308;
}

